flask~=3.0.2
PyDispatcher~=2.0.7
pulsar-client
pulsar-client[avro]
flask_sqlalchemy
flask_swagger
psycopg2-binary
dill~=0.3.8
faker~=23.3.0
colorama~=0.4.6
SQLAlchemy~=2.0.27
fastapi~=0.110.0
pydantic~=2.6.3
fastavro~=1.9.4
aiopulsar-py
uvicorn
websockets
requests
pydantic_settings